.Sequence {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .note-wrapper {
    height: 100%;
    display: flex;
  }
  
  .note-column {
    display: flex;
    flex-direction: column;
  }
  .note-column--active {
    background: #228822;
  }
  .note {
    height: 80px;
    width: 40px;
    background: white;
    border: 2px solid #ccc;
    border-radius: 2px;
    margin: 2px;
    cursor: pointer;
  }
  .note--active {
    background: grey;
  }
  .note:active {
    background: lightgrey;
  }
  
  .play-button {
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    margin: 1rem auto;
    border: 2px solid #121212;
    border-radius: 4px;
    cursor: pointer;
  }
  